---
layout: base
---

<article id="post__content">
  <h1 id="post__title" data-identifier="{{ page.date | date: "%Y%m%d" }}">{{ page.title }}</h1>
  {{ content }}
</article> <!-- end #post__content -->

{% include share.html %}
{% include disqus.html %}

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'Itaren',
    repo: 'https://github.com/BarryLiu/barryliu.github.com.git',
    oauth: {
        client_id: 'dcd04c1631d25475f9b1',
        client_secret: '4bc3fc381ef89a6499d1afd63a978cee183251f2',
    },
});
gitment.render('gitmentContainer');
</script>